.gridParent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 3fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }
  .gridParent > :nth-child(1) {
    grid-column: span 2;
  }

  @media only screen and (max-width: 600px) {
    .gridParent {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto 3fr;
      grid-column-gap: 4px;
      grid-row-gap: 4px;
    }
    .gridParent > :nth-child(1) {
      grid-column: span 1;
    }
  }