.container{
    margin-bottom: 4px;
    padding: 10px 30px;
    display: flex;
}
.container > div {
    padding: 15px;
}

h2{
    font-size: 0.85em;
    text-shadow: 2px 2px 4px rgba(174, 174, 174, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 370px;
}

